body {
  background: url("img/sushibackground.jpg") no-repeat fixed;
  background-size: cover; }

.background {
  margin-left: 200px;
  margin-right: 200px;
  background-color: #dadada; }

/* sm screens */
/* md screens */
/* lg screens */
